
  
  .cardContainer  {
    position: relative;
    display: flex;
    height: 120px;
    width: 150px;
    margin-top: 2rem;
    background: #e9e9e9;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px 8px #d0d0d0;
  }
  
  .cardContent {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 27px;
    font-family: 'Merriweather', serif;
  }
  
  h2 {
    font-weight: 200;
    text-align: center;
  }
  
  h3 {
    font-weight: 100;
  }
  