@import './mixins.scss';
@import './overrides.scss';

.bx--row.home-page__banner {
    padding-top: 1rem;
    padding-bottom: 16rem;
  }

.home-banner__title{
  color: aliceblue !important;
  padding-top: 2rem !important;
}

.home-page{
  background-color: black !important;
  margin-top: -1rem;
}

.bx--col.taskCard{
padding-bottom: 2rem;
display: flex;
justify-content: center;
}