.access-control-page{
    background-color: white;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.info-container{
    padding:1rem;
    display: block;
    border-right: 3px solid #d5d5d5;
    min-height: 35rem;
    min-width: 20rem;
}
.access-control-title{
    font-size: 2rem;
}
.access-control-para{
    margin-top: 2rem;
    font-size: 1rem;
}
.access-col{
    padding:1rem;
    min-width: 20rem;
    display: block;
    align-content: center;
}