
.login-form-container>div{
     
    padding: 10px 10px 10px 10px;
    
}

.banner-container{
  pointer-events: none;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.banner-css{
  width: 80%;
  margin-left: 10%;
}

.login-pg-container {
  display: grid;
  margin-top: -4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.banner-container {grid-area: 1 / 1 / 13 / 20; }

.login-form-container { grid-area: 1 / 20 / 17 / 31; }

.about-container { 
position: relative;
z-index: 3;
grid-area: 13 / 1 / 17 / 20;
 }

 .about-container>span{
  letter-spacing: 0;
  padding: 20px 20px 20px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 

 .about-header{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #5a5757;
 }
  

.about-content{
  color: #525252;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  display: block;
 }

.signup-user-div{
  margin-top: 0rem;
}

.bold-b1{
  font-weight: bold;
}
