@import 'carbon-components/scss/globals/scss/styles.scss';

@import '@carbon/themes/scss/themes';

// Use the gray 10 theme
@include carbon--theme($carbon--theme--g10);

// Use the gray 90 theme
@include carbon--theme($carbon--theme--g90);

// Use the gray 100 theme
@include carbon--theme($carbon--theme--g100);

//Note: The feature flag needs to come before the Carbon styles.scss import.
$feature-flags: (
  grid-columns-16: true,
);

#app-header,#app-footer{
  position: fixed;
  z-index: 3;
}

$feature-flags: (
  grid-columns-16: true,
);