
.bx--row.home-page__banner {
    padding-top: 1rem;
    padding-bottom: 16rem;
  }

.home-banner__title{
  color: aliceblue !important;
  padding-top: 2rem !important;
}

.home-page-title{
  background-color: black !important;
  margin-top: -1rem;
  margin-left: -6rem;
  margin-right: -6rem;
  padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
